/* Header */

@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400');

body{
	font-family: "Raleway";
	font-weight: 300;
}

.page-header-block, header, footer {
	display: none;
}

.rules{
	font-size: 1.2em;
	width: 60%;
	padding-bottom: 40px;
	margin: 0 auto;
	}

.rules h2{
	text-align: center;
	padding-top: 20px; 
}

.container {
	width:100% !important;
}

.lower-container {
	width:90% !important;
	margin: 0 auto;
}

.hero-date {
	font-size: 0.3em;
	letter-spacing: 0.1em;
	font-weight: 300;
}

.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.start-page .large-header {
	background-color: white;
	background-position: center bottom;
}


.main-title {
	font-weight: 200;
	position: absolute;
	padding-top: 50px;
	color: #383a3c;
	text-align: center;
	top: 45%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}


.start-page .main-title {
	text-transform: uppercase;
	font-size: 7.00em;
	letter-spacing: 0.2em;
	font-family: "raleway";
}

.ghost-button {
 background-color: Transparent;
 border: 1px solid;
 font-size: 30px;
 padding: 7px 12px;
 margin: 6px 0;
 margin-right: 12px;
 display: inline-block;
 min-width: 120px;
 outline:0;
}

.info{
	font-weight: 400;
	font-size: 1.2em;
}


.desc-title {
	text-align: center;
	font-size: 2.5em;
}

.support-title {
	text-align: center;
	font-size: 2.0em;
}

.support {
	margin-top: -25px;
}

.large-description {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 100px;
}

.hackathon-information {
	text-align: center;
	font-size: 1.5em;
	padding-top: 50px;
	padding-bottom: 100px;
}

.host {
	margin-top: 100px;
}

.form {
	margin-top: 50px;
	margin-bottom: 80px;
}

.confirm-button {
 background-color: Transparent;
 border: 1px solid;
 font-size: 30px;
 padding: 7px 12px;
 margin: 6px 0;
 margin-right: 12px;
 display: inline-block;
 min-width: 120px;
 outline:0;
 margin-top: 50px;
 margin-bottom: 80px;

}

.confirm-button:hover,
.confirm-button:active {
	color: #fff;
	background: black;
}

.winner-image {
	align: center;
}

@media only screen and (max-width : 768px) {
	.start-page .main-title {
		font-size: 2.5em;
		top:40%;
		padding-left: 2%;
	}

	.rules{
		width: 100%;
	}

}
