.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin: 0px, auto;
	margin-bottom: 5px;
	border-radius: 4px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
	padding: 2px 16px;
	min-height: 160px;
	background-color: white;
}

.prize-header {
	text-align: center;
	font-size: 2.0em;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.flexrow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
}
