
.console {
	position: relative;
	font-family: monospace;
	padding: 1em;
	color: #fff;
	width: 100%;
	background-color: #000;
	border-radius: 5px;
	overflow: hidden;
}

.console-lines {
	margin-right: -30px;
}

.console-input {
	font-family: monospace;
	color: #fff;

	background-color: #000;
}

.console p {
	margin: 1em 0.8em;
}

.console .command_area {
	display: grid;
	grid-template-columns: min-content auto;
	margin: 0.5em;
}

.console .command_area span {
	color: #7fdde9;
	align-self: center;
}

.console .command_area input {
	align-self: center;
	background: none;
	width: 100%;
	border: none;
	color: #fff;
}

.console .confirmReset {
	cursor: pointer;
	border: none;
	padding: 0;
	margin: 0;
	color: #7fdde9;
	background: transparent;
}

.console #await-input {
	display: none;
}

.console-pink {
	color: #D11919;
}
.console-blue {
	color: #3AB7E9;
}
.console-green {
	color: #329467;
}
.console-yellow {
	color: #FEFF00
}