/* reset
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
 */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

/*reset*/

body {
	font: normal 1em / 2 "Rajdhani", sans-serif;
	color: #a6a6a6;

	/* gradient gives problem in firefox */
	/* background: radial-gradient(circle closest-side, #15191e00, #060809); */
	background-color: #121212;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern"1;
	-moz-font-feature-settings: "kern"1;
	-o-font-feature-settings: "kern"1;
	font-feature-settings: "kern"1;
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	background-color: #15191e;
}

h1 {
	font: normal 1em / 2 "Khand", sans-serif;
}

.home {
	max-width: 960px;
}

.nav-list {
	display: inline-block;
	float: right;
	margin-top: 8px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 25px;
}

.nav-list .nav-item:first-child {
	padding-right: 1em;
}

.nav-list .nav-item {
	color: white;
	padding-right: 1em;
	padding-left: 1em;
}

.nav-list .nav-item:last-child {
	padding-left: 1em;
}

.about,
.nav,
.rules {
	justify-content: space-between;
	max-width: 960px;
	display: flex;
	flex-direction: column;
}

.about {
	/* margin: 60% auto 15%; */
	padding: 0 30px;
}

.rules {
	margin: 5% auto;
}

.accent {
	color: #FFF300;
}


/* links */

.primary-links {
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.primary-links:hover {
	text-decoration: underline;
}

.link-arrow {
	padding-left: 0.5em;
	width: 0.75em;
}

.secondary-links {
	color: #fff;
	text-decoration: none;
}

.secondary-links:hover {
	color: #FFF300;
}

.tertiary-links,
.details {
	color: #e6e6e6;
}

.back-arrow {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	width: 1em;
	padding-left: 1em;
}

/* links */

#prize,
#dates {
	font-size: 1.25em;
	color: #ccc;
	margin-left: 2em;
}

h1 {
	font-size: 3em;
	font-weight: normal;
	color: #fff;
	line-height: 1;
}

h2 {
	font-size: 2.25em;
	font-weight: normal;
	color: #ccc;
	line-height: 1;
	padding-bottom: 1em;
}

h3 {
	color: #ccc;
	font-weight: 500;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

.top-spacer {
	margin-top: 4em;
}

.list {
	list-style: disc;
	padding: 1em;
}

.left {
	margin: 0 auto;
	width: 80%;
}

.right {
	width: 80%;
	margin: 0 auto;
}

.inner-logo {
	max-width: 150px;
}

.about-links {
	display: flex;
	padding-top: 2em;
	flex-direction: column;
}

.events {
	color: #ccc;
}

.list li {
	padding-bottom: 1em;
}

.winners:not(:last-child) {
	border-bottom: 1px solid #444;
	margin-bottom: 2em;
	padding-bottom: 2em;
}

.project-img {
	width: 100%;
	border-radius: 0.5em;
}

.winner-container {
	display: flex;
	flex-direction: column;
}

.winner-container:not(:last-child) {
	margin-bottom: 2em;
}

.winner-img {
	margin-right: 4em;
	width: 250px;
	flex-shrink: 0;
}

.team-members {
	padding-left: 1em;
	padding-bottom: 1em;
}

.lists {
	margin-right: 3.5em;
}

.lists li {
	list-style: none;
}

.lists a {
	margin-bottom: 1em;
}

/*media querry*/

@media screen and (min-width: 1024px) {
	.home {
		margin: auto;
	}

	.about {
		margin: 5% auto 2%;
	}

	.about-links,
	.about,
	.rules,
	.winner-container {
		flex-direction: row;
	}

	.left {
		margin: 0;
		width: 30%;
	}

	.right {
		width: 65%;
		margin: 0;
	}
}

/* media querry */

::-moz-selection {
	background-color: #8c8c8c;
	color: #ccc;
}

::selection {
	background-color: #8c8c8c;
	color: #ccc;
}

/* form */

label {
	line-height: 2em;
	padding: 0.2em;
	display: inline-block;
}

input {
	background-color: transparent;
	border-bottom: 2px solid #34373c;
	border-left: none;
	border-right: none;
	border-top: none;
	line-height: 2em;
	padding: 0.2em 0.5em;
	color: #d8d8d8;
	float: right;
	width: 300px;
	font-size: inherit;
}

input:focus {
	outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 1000px #15191e inset;
	-webkit-text-fill-color: #d8d8d8;
}



.application-form {
	margin-top: 60px;
}

.message {
	margin-top: 1em;
}

form div {
	padding: 1em;
	text-align: left;
}

form {
	width: 100%;
	margin: 0 auto;
}

button {
	border: 3px solid #b4b4b4;
	background-color: transparent;
	padding: 1em;
	color: #b4b4b4;
	border-radius: 5px;
	cursor: pointer;
	font-size: inherit;
}

button:hover {
	background-color: #b4b4b4;
	color: #fff;
}

button.register {
	margin-top: 2em;
	float: right;
}


/* form error
input:invalid{
border-bottom: solid #e65a5a 2px;
}
 */

.console {
	position: relative;
	font-family: monospace;
	padding: 1em;
	color: #fff;
	width: 100%;
	background-color: #000;
	border-radius: 5px;
	overflow: hidden;
}

.console-lines {
	margin-right: -30px;
}

.console-input {
	font-family: monospace;
	color: #fff;
	;
	background-color: #000;
}

.console p {
	margin: 0.3em 0.8em;
}

.console .command_area {
	display: grid;
	grid-template-columns: min-content auto;
	margin: 0.5em;
}

.console .command_area span {
	color: #7fdde9;
	align-self: center;
}

.console .command_area input {
	align-self: center;
	background: none;
	width: 100%;
	border: none;
	color: #fff;
}

.console .confirmReset {
	cursor: pointer;
	border: none;
	padding: 0;
	margin: 0;
	color: #7fdde9;
	background: transparent;
}

.console #await-input {
	display: none;
}

.console-pink {
	color: #D11919;
}
.console-blue {
	color: #3AB7E9;
}
.console-green {
	color: #329467;
}
.console-yellow {
	color: #FEFF00
}