{% block footer %}
    <div class="flex mt-16 mb-8">
        <div class="w-full md:w-1/4">
            <img class="w-32" src="img/logo.svg" alt="Mumbai hackathon">
        </div>
        <div class="w-full md:w-3/4">
            <div class="mt-0 mb-5 md:mb-0 md:mt-5 flex flex-col md:flex-row">
                <ul class="list-reset mr-20">
                    <li class="mb-5">
                        <a class="text-base text-white hover:text-yellow no-underline font-light" href="/rules">Rules<img
                                class="w-3 ml-2" src="img/arrow.svg" alt="arrow"></a>
                    </li>
                    <li class="mb-5">
                        <a class="text-base text-white hover:text-yellow no-underline font-light" href="/past-winners">Past
                            Winners<img class="w-3 ml-2" src="img/arrow.svg" alt="arrow"></a>
                    </li>
                </ul>
                <ul class="list-reset mr-20">
                    <li class="mb-5">
                        <a class="text-base text-white hover:text-yellow no-underline font-light" href="https://twitter.com/mumbaihackathon"
                            target="_blank">Twitter<img class="w-3 ml-2" src="img/arrow.svg" alt="arrow"></a>
                    </li>
                    <li class="mb-5">
                        <a class="text-base text-white hover:text-yellow no-underline font-light" href="https://www.facebook.com/mumbaihackathon"
                            target="_blank">Facebook<img class="w-3 ml-2" src="img/arrow.svg" alt="arrow"></a>
                    </li>
                </ul>
                <ul class="list-reset mr-20">
                    <li class="mb-5">
                        <a class="text-base text-white hover:text-yellow no-underline font-light" href="mailto:mumbaihackathon@erpnext.org">Write
                            to us<img class="w-3 ml-2" src="img/arrow.svg" alt="arrow"></a>
                    </li>
                    <li class="mb-5">
                        <a class="text-base text-white hover:text-yellow no-underline font-light" href="/about"
                            >About<img class="w-3 ml-2" src="img/arrow.svg" alt="arrow"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}