{% extends "templates/hackathon.html" %}

{% block title %}About - Mumbai Hackathon {{details.year}}{% endblock %}

{% block meta %}
<meta name="description" content="About Mumbai Hackathon {{details.year}}. Registrater Now. Date: {{details.date}} {{details.year}}. Place: Don Bosco Insitute of Technology, Kurla West." />
<meta name="keywords" content="about mumbai hackathon, hackathon in mumbai, opensource hackathon, open-source hackathon, open source hackathon, hackathon {{details.year}}, india hackathon, india hackathon {{details.year}}, mumbai hackathon rules, rules mumbai hacakathon, hackathon in mumbai rules" />
{% endblock %}

{% block body %}
<div class="flex flex-wrap mt-8">
    <div class="w-full text text-grey leading-normal">
        <h2 class="text-white text-2xl">About Mumbai Hackathon</h2>
        <p class="text-lg py-2">
            Mumbai Hackathon is Annual Open Source Hackathon organized by FOSS United and Don Bosco Institute of Technology (DBIT). Every year, we welcome students, developers and designers from across the country to create incredible open source projects at Mumbai's largest Open Source Hackathon.
        </p>
        <p class="text-lg py-2">
            Here's the <a class="no-underline text-white hover:text-yellow" href="https://github.com/MumbaiHackathon">repositories</a> of the amazing projects built at Mumbai Hackathon.
        </p>
        <h2 class="text-white text-xl">Details for Mumbai Hackathon {{details.year}}</h2>
        <p class="text-lg py-2">
            <ul class="text-lg text-grey">
                <li>Date: <span class="text-yellow">{{details.date}}</span></li>
                <li>Timings:
                    <ul class="text-lg text-yellow">
                        <li>9 AM - 6 PM on 14 March.</li>
                        <li>9 AM - 12 PM on 15 March.</li>
                    </ul>
                <li>Prize Amount: <span class="text-yellow">{{frappe.utils.fmt_money(details.cash_prize)}}</span></li>
            </ul>
        </p>
    </div>
</div>
{% endblock %}