{% extends "templates/hackathon.html" %}

{% block title %}About - Mumbai Hackathon 2019{% endblock %}

{% block meta %}
<meta name="description" content="Rules for Mumbai Hackathon 2018. Registrater Now. Date: 10th and 11th March 2018. Place: Don Bosco Insitute of Technology, Kurla West." />
<meta name="keywords" content="mumbai hackathon, hackathon in mumbai, opensource hackathon, open-source hackathon, open source hackathon, hackathon 2018, india hackathon, india hackathon 2018, mumbai hackathon rules, rules mumbai hacakathon, hackathon in mumbai rules" />
{% endblock %}

{% block body %}
<div class="flex flex-wrap mt-8">
    <div class="w-full text text-grey leading-normal">
        <h2 class="text-white text-2xl">About Mumbai Hackathon</h2>
        <p class="text-lg py-2">
            Mumbai Hackathon is Annual Open Source Hackathon organized by the ERPNext Foundation and Don Bosco Institute of Technology (DBIT). Every year, we welcome students, developers and designers from across the country to create incredible open source projects at Mumbai's largest Open Source Hackathon.
        </p>
        <p class="text-lg py-2">
            Here's the <a class="no-underline text-white hover:text-yellow" href="https://github.com/MumbaiHackathon">repositories</a> of the amazing projects built at Mumbai Hackathon.
        </p>
        <h2 class="text-white text-xl">Details for Mumbai Hackathon 2019</h2>
        <p class="text-lg py-2">
            <ul class="text-lg text-grey">
                <li>Date: <span class="text-yellow">16th & 17th March 2019</span></li>
                <li>Timings:
                    <ul class="text-lg text-yellow">
                        <li>9 AM - 6 PM on 16th March.</li>
                        <li>9 AM - 12 PM on 17th March.</li>
                    </ul>
                <li>Prize Amount: <span class="text-yellow">₹50,000</span></li>
            </ul>
        </p>
    </div>
</div>
{% endblock %}