header, footer {
	display: none;
}

.container {
	width:100% !important;
}

.lower-container {
	width:80% !important;
	padding-right: 15px; 
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.hero-name {
	font-weight: 100;
}

.hero-date {
	font-size: 0.3em;
	letter-spacing: 0.1em;
}

.image {
	width:330px;
	margin-bottom: 50px;
}

.desc-title {
	font-family: "raleway";
	text-align: center;
	font-size: 2.5em;
	font-weight: 200;
}

.large-description {
	font-family: "raleway";
	text-align: center;
	font-size: 1.5em;
	font-weight: 100;
	margin-bottom: 100px;
}

.hackathon-information li {
	margin-top: 100px;
	margin-bottom: 30px;
	text-align: left;
}
