{% extends "templates/hackathon.html" %}

{% block title %}Mumbai Hackathon 2020 - An Open-source Hackathon{% endblock %}

{% block meta %}
    <meta name="description" content="Date: 14th and 15th March 2020. Place: Don Bosco Insitute of Technology, Kurla West. Mumbai Hackathon is an annual Open Source hackathon organized by the ERPNext Foundation & Don Bosco Institue of Technology, Mumbai." />
    <meta name="keywords" content="mumbai hackathon, hackathon in mumbai, opensource hackathon, open-source hackathon, open source hackathon, hackathon 2020, india hackathon, india hackathon 2020" />
    <meta name="google-site-verification" content="CDEpw7jm-xyoo6dPfVmKnbTvx6VKI7Aa3RjECNRzqnk" />
{% endblock %}

{% block body %}
    <div class="text-xl text-grey mt-8 text-center md:text-left">
        Hack with us at the <a class="text-white hover:text-yellow no-underline" href="https://goo.gl/maps/WmifWU2Wckx">Don Bosco Institute of Technology</a> on 14th and 15th of March, and win ₹75,000 cash prize!
    </div>
    <div class="mt-8">
        <div id="terminal"></div>
    </div>
    <div class="md:hidden mt-8 text-center md:text-left">
        <div class="text-grey" id="mobile-message">For best experience please visit the site on a desktop</div>
    </div>
    <div class="mt-8 text-center md:text-left">
        <div class="text-grey">Here are some <a href="https://medium.com/@rushabh_mehta/project-ideas-for-mumbai-hackathon-2019-22d17465f294" target="_blank" class="text-yellow">project ideas</a> for the hackathon.</div>
    </div>
    <div>
    </div>
{% endblock %}

{% block scripts%}
    <script src="/assets/mumbaihackathon_in/js/console.js" type="text/javascript"></script>
{% endblock %}
