{% extends "templates/hackathon.html" %}

{% block title %}Mumbai Hackathon 2020 - An Opensource Hackathon{% endblock %}

{% block meta %}
<meta name="description"
    content="Date: {{details.date}} {{details.year}}. Place: Don Bosco Insitute of Technology, Kurla West. Mumbai Hackathon is an annual Open Source hackathon organized by FOSS United & Don Bosco Institue of Technology, Mumbai." />
<meta name="keywords"
    content="mumbai hackathon, hackathon in mumbai, opensource hackathon, open-source hackathon, open source hackathon, hackathon 2020, india hackathon, india hackathon 2020" />
{% endblock %}

{% block body %}

<div class="text-xl text-grey mt-8 text-center md:text-left">
    Hack with us at the Don Bosco Institute of Technology on {{details.date}}, {{details.year}} and win
    {{frappe.utils.fmt_money(details.cash_prize)}} cash
    prize!
</div>
{% if details.disable_registration %}
<div class="mt-8 text-center text-xl">
    <div class="text-grey" id="message">Registrations are closed.</div>
</div>
{% else %}
<div class="mt-8 md:mt-16">
    <form class="w-full max-w-sm mx-auto">
        <fieldset class="personal-details">
            <div class="form-card">
                <div class="flex flex-wrap">
                    <div class="w-full px-3 mb-6">
                        <label>
                            <span class="hidden">
                                Your Name
                            </span>
                            <input type="text" name="name"
                                class="w-full bg-faded-black rounded py-3 px-5 text-grey outline-none hover:out"
                                placeholder="Your Name">
                        </label>
                    </div>
                </div>
                <div class="flex flex-wrap">
                    <div class="w-full px-3 mb-6">
                        <label>
                            <span class="hidden">
                                Your Email
                            </span>
                            <input type="email" name="email"
                                class="w-full bg-faded-black rounded py-3 px-5 text-grey outline-none hover:out"
                                placeholder="Your Email">
                        </label>
                    </div>
                </div>
                <div class="flex flex-wrap">
                    <div class="w-full  px-3 mb-6">
                        <label>
                            <span class="text-white">
                                Which best describes you?
                            </span>
                            <select type="text" name="team_type" onChange="getTeamType(this.value)"
                                class="team-type mt-2 w-full bg-faded-black rounded py-3 px-5 text-grey outline-none hover:out"
                                placeholder="Which best describes you?">
                                <option value="Individual">Individual</option>
                                <option value="Team">Team</option>
                            </select>
                        </label>
                    </div>
                </div>

                <div class="flex flex-wrap">
                    <div class="w-full px-3 mb-6">
                        <label>
                            <span class="hidden">
                                Institute
                            </span>
                            <input type="text" name="organization"
                                class="w-full bg-faded-black rounded py-3 px-5 text-grey outline-none hover:out"
                                placeholder="Institute">
                        </label>
                    </div>
                </div>

                <div class="flex flex-wrap">
                    <div class="w-full px-3 mb-6">
                        <label>
                            <span class="hidden">
                                How did you hear about us?
                            </span>
                            <input type="text" name="source"
                                class="w-full bg-faded-black rounded py-3 px-5 text-grey outline-none hover:out"
                                placeholder="How did you hear about us?">
                        </label>
                    </div>
                </div>

                <div class="flex text-center">
                    <div class="w-full px-3 mb-6 register-btn">
                        <button type="button"
                            class="w-full md:w-1/3 bg-yellow text-black font-bold font-display py-3 px-5 rounded"
                            onclick="form_confirm()">Register</button>
                    </div>
                </div>

                <div class="flex text-right">
                    <div class="w-full px-3 pb-4 team-details-btn hidden">
                        <span class="w-full cursor-pointer md:w-1/3 text-yellow font-display py-3 pl-5"
                            onclick="changePage('next')">Fill team details &#8594;</button>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="team-details hidden">
            <div class="form-card">

                <div class="flex flex-wrap">
                    <div class="w-full px-3 mb-6">
                        <label>
                            <span class="hidden">
                                Your Team Name
                            </span>
                            <input type="text" name="team_name"
                                class="w-full bg-faded-black rounded py-3 px-5 text-grey outline-none hover:out"
                                placeholder="Your Team Name">
                        </label>
                    </div>
                </div>

                {% for i in range(2,6) %}
                <span class="text-white px-3">Member {{i}}</span>
                <div class="flex flex-wrap mt-2">
                    <div class="w-full md:w-1/2 px-3 mb-6">
                        <label>
                            <span class="hidden">
                                Name
                            </span>
                            <input type="text" name="name{{i}}"
                                class="w-full bg-faded-black rounded py-3 px-5 text-grey outline-none hover:out"
                                placeholder="Your Team Name">
                        </label>
                    </div>
                    <div class="w-full md:w-1/2 px-3 mb-6">
                        <label>
                            <span class="hidden">
                                Email
                            </span>
                            <input type="email" name="email{{i}}"
                                class="w-full bg-faded-black rounded py-3 px-5 text-grey outline-none hover:out"
                                placeholder="Your Email Address">
                        </label>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="flex text-left">
                <div class="w-full px-3 personal-details-btn">
                    <span class="w-full cursor-pointer md:w-1/3 text-yellow font-display py-3 pr-5"
                        onclick="changePage('prev')">&#8592; Previous</button>
                </div>
            </div>

            <div class="flex text-center mt-4">
                <div class="w-full px-3 mb-6 register-btn2">
                    <button type="button"
                        class="w-full md:w-1/3 bg-yellow text-black font-bold font-display py-3 px-5 rounded"
                        onclick="form_confirm()">Register</button>
                </div>
            </div>

        </fieldset>
    </form>
    <div class="text-center text-white text-xl message"> </div>
    <div class="mt-8 text-center">
        <div class="text-grey" id="message">P.S. You are about to register the uncool way.</div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    function getTeamType(team_type) {
        if (team_type == 'Team') {
            $('.register-btn').addClass('hidden');
            $('.team-details-btn').removeClass('hidden');
        }
        else {
            $('.register-btn').removeClass('hidden');
            $('.team-details-btn').addClass('hidden');
        }
    }

    function changePage(page) {

        let current_fs = page == 'next' ? $('.personal-details') : $('.team-details');
        let next_fs = page == 'next' ? $('.team-details') : $('.personal-details');
        current_fs.css({
            'display': 'none',
            'position': 'relative'
        });
        next_fs.show();

        current_fs.animate({ opacity: 0 }, {
            step: function (now) {

                next_fs.css({ 'opacity': 1 });
            },
            duration: 600
        });
    }

    function form_confirm() {
        var fullname = $('input[name="name"]').val();
        var email = $('input[name="email"]').val();
        var organization = $('input[name="organization"]').val();
        var source = $('input[name="source"]').val();
        var team_name = $('input[name="team_name"]').val();
        var team_type = $('select[name="team_type"]').val();
        var m_name2 = $('input[name="name2"]').val();
        var m_email2 = $('input[name="email2"]').val();
        var m_name3 = $('input[name="name3"]').val();
        var m_email3 = $('input[name="email3"]').val();
        var m_name4 = $('input[name="name4"]').val();
        var m_email4 = $('input[name="email4"]').val();
        var m_name5 = $('input[name="name5"]').val();
        var m_email5 = $('input[name="email5"]').val();

        if (!fullname) {
            $('.message').html("Name is required");
            $('input[name="name"]').focus();
        }

        else if (!email) {
            $('.message').html("Email is required");
            $('input[name="email"]').focus();
        }

        else {
            $(".message").empty();
            const values = {
                fullname: fullname,
                email: email,
                organization: organization,
                team_name: team_name,
                source: source,
                team_type: team_type,
                fullname_2: m_name2,
                email_2: m_email2,
                fullname_3: m_name3,
                email_3: m_email3,
                fullname_4: m_name4,
                email_4: m_email4,
                fullname_5: m_name5,
                email_5: m_email5,
                registration_method: 'Form'

            }
            register(values)
                .then(message => {
                    $('.message').html(message);
                    $("input").val("");
                });
        }
    }
</script>
{% endblock %}